<h1>Confirmez votre email</h1>

<p>
    Merci de confirmer votre email en cliquant sur le lien ci-dessous <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
</p>

<p>
    À bientôt sur BougeTonBoule
</p>
